body{
    background-color:grey;
}
.same{
    display: flex;
    justify-content: center;
}
.same h1{
    padding: 10px;
    font-size: 5em;
    padding-bottom: 0px;
}
.good{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 0px;
    padding: 10px;
    margin: 10px;
}